@font-face{
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embeded-opentype'),
        url(fonts/websymbols-regular-webfont.woff) format('woff'),
        url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
        url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    background-color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

/*ESTE CODIGO EN CSS ELIMINA EL BORDE NEGRO DE IE/CHROME LINUX*/
input[type="text"]:focus,
input[type="button"]:focus,
#login #user:focus,
#login #password:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus{

    outline: thin dotted;
    outline-offset: -6px;
    outline: none;
  
}
.clearfix{
    float: none;
    clear: both;
}

/*header*/

#header{
    width: 100%;
    height: 30px;
}

#nav ul li{
    display: block;
    float: right;
    margin: 10px;
}

#header a{
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#header li .icon{
    font-family: "WebSymbolsRegular";
    font-size: 20px;
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}

/*BUscador*/
.logo-google{
    display: block;
    margin: 0px auto;
}
#search{
    width: 40%;
    margin: 0px auto;
    margin-top: 200px;
}
#caja{
    display: block;
    width: 520px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 15px;
}

#caja:hover{
    border: 1px solid grey;
    box-shadow: 5px 5px 10px black;
}

#search #caja input[type="text"]{
    width: 470px;
    height: 37px;
    border-radius: 5px;
    border: none;
    background: transparent;
    margin-left: 40px;
    margin-top: 5px;
}

#caja .icon{
    position: absolute;
    margin-top: 9px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
    border: none;
    font-size: 20px;
    border-right: 1px solid #ccc;
    font-family: "WebSymbolsRegular";
}

#search input[type="submit"],
#search input[type="reset"]{
    display: block;
    margin: 0px auto;
    float: left;
    padding: 10px;
    margin: 15px;
    background: #cccccc;
    border: none;
}

#search .botones{
    display: block;
    margin-left: 100px;
}

#enlaces{
    display: block;
    width: 100%;
    margin: 80px;
}

#enlaces a{
    color: blue;
}
#enlaces a:hover{
    color: red;
    text-decoration: underline;
}

/*footer*/

#footer{
    margin-top: 340px;
    width: 100%;
    height: 50px;
    background: #e2e1e1;
}

#footer ul li {
    display: block;
    float: left;
   background: #e2e1e1;
    margin-right: 30px;
    margin-top: 15px;
}

#footer ul li a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    background: transparent;
    color: gray;
}

#links2{
    display: block;
    background: #e2e1e1;
    float: right;
}

#footer a:hover{
    text-decoration: underline;
}